@popupBg: #ffffff;
@popupTextColor: #444953;
@popupFontSize: 2em;
@popupCancelColor: #8b93a3;
@popupCancelBorderColor: #d7deea;
@popupUninstallColor: #ffffff;
@popupUninstallBgColor: #ff3b30;
@popupUninstallBorderColor: #d93229;

@preloaderBg: #f5f5f5;
@roundColor11: #444953;
@roundColor12: #222222;
@roundColor21: #E7E7E7;
@roundColor22: #E7E7E7;
@roundColor31: #ff3b30;
@roundColor32: #00AB6F;
@roundColor41: #444444;
@roundColor42: #444444;

.transition (@seconds: .3s) {
  -webkit-transition-duration: @arguments;
  -o-transition-duration: @arguments;
  -moz-transition-duration: @arguments;
  transition-duration: @arguments;
}
.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
